@media print {
    body {
        margin: 0;
        padding: 0;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .container {
        box-shadow: none;
        margin: 0;
        max-width: 210mm;
        width: 210mm;
        padding: 0;
    }

    .tab-list,
    .actions {
        display: none !important;
    }

    .tab-content {
        display: block !important;
        padding: 0;
    }

    .tab-content:not(.active) {
        display: none !important;
    }

    .character-sheet,
    .character-sheet-page-two {
        width: 210mm;
        margin: 0;
        page-break-after: always;
    }

    input::placeholder,
    textarea::placeholder {
        color: transparent !important;
    }
}